/* General Styles */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin-top: 20px;
  }
  
  /* Navbar Styles */
  .navbar {
    margin-bottom: 20px;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  /* Home Page Styles */
  .jumbotron {
    background-color: #e9ecef;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
  }
  
  .jumbotron .display-4 {
    font-size: 2.5rem;
    font-weight: 300;
  }
  
  /* Form Styles (Login and Signup) */
  .form-container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  /* Profile Page Styles */
  .profile-container {
    padding: 2rem 1rem;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  .profile-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
.app.light {
  background-color: white;
  color: black;
}

.app.dark {
  background-color: black;
  color: rgb(255, 255, 255);
}
